# SQLite3
---

### connect

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('db.sqlite3')

In [3]:
conn

In [4]:
cur = conn.cursor()

In [5]:
cur

In [6]:
cur.execute("create table users (id integer, username text)")

In [7]:
cur.execute("select * from users")

In [8]:
cur.fetchone()

In [9]:
cur.execute("insert into users (id, username) values(1, 'harry')")

In [10]:
cur.execute("select * from users")

In [11]:
cur.fetchall()

[(1, 'harry')]

In [12]:
sql = """
INSERT INTO users(id, username) values(2, 'bob'), (3, 'mary'), (4, 'pike')
"""
cur.execute(sql)

In [13]:
cur.execute("select * from users")
cur.fetchall()

[(1, 'harry'), (2, 'bob'), (3, 'mary'), (4, 'pike')]

In [14]:
cur.execute("select id, username from users where id>2")

In [15]:
cur.fetchall()

[(3, 'mary'), (4, 'pike')]

In [16]:
from random import randint

In [18]:
randint(0, 10)

9

In [22]:
names = ['Ram', 'Shyam', 'Hari']
for idx, name in enumerate([names[randint(0, 2)] for i in range(0, 20)]):
    cur.execute("insert into users (id, username) values(?, ?)", (idx + 5, name))

In [23]:
cur.execute("select count(id) from users")

In [24]:
cur.fetchall()

[(24,)]

In [25]:
cur.execute("select id, username from users where id=?", (13,))
cur.fetchone()

(13, 'Ram')

In [26]:
cur.execute("update users set username='Ramesh' where id=?", (13,))

In [27]:
cur.execute("select id, username from users where id=?", (13,))
cur.fetchone()

(13, 'Ramesh')

In [28]:
cur.execute("delete from users where id=?", (14,))

In [30]:
cur.execute("select id, username from users where id>?", (10,))
cur.fetchall()

[(11, 'Hari'),
 (12, 'Shyam'),
 (13, 'Ramesh'),
 (15, 'Hari'),
 (16, 'Hari'),
 (17, 'Shyam'),
 (18, 'Shyam'),
 (19, 'Shyam'),
 (20, 'Shyam'),
 (21, 'Shyam'),
 (22, 'Ram'),
 (23, 'Hari'),
 (24, 'Shyam')]

In [31]:
cur.execute("select id, username from users where id>? order by id desc", (10,))
cur.fetchall()

[(24, 'Shyam'),
 (23, 'Hari'),
 (22, 'Ram'),
 (21, 'Shyam'),
 (20, 'Shyam'),
 (19, 'Shyam'),
 (18, 'Shyam'),
 (17, 'Shyam'),
 (16, 'Hari'),
 (15, 'Hari'),
 (13, 'Ramesh'),
 (12, 'Shyam'),
 (11, 'Hari')]

In [34]:
cur.execute("select count(id), username from users group by username")
cur.fetchall()

[(7, 'Hari'),
 (1, 'Ram'),
 (1, 'Ramesh'),
 (10, 'Shyam'),
 (1, 'bob'),
 (1, 'harry'),
 (1, 'mary'),
 (1, 'pike')]

In [35]:
conn.commit()

# HDF5
---

In [37]:
import h5py

In [38]:
import numpy as np

In [40]:
with h5py.File('data.h5', 'w') as h5:
    help(h5.create_dataset)
    h5.create_dataset('nparray', data=np.arange(0, 10000000))

Help on method create_dataset in module h5py._hl.group:

create_dataset(name, shape=None, dtype=None, data=None, **kwds) method of h5py._hl.files.File instance
    Create a new HDF5 dataset

    name
        Name of the dataset (absolute or relative).  Provide None to make
        an anonymous dataset.
    shape
        Dataset shape.  Use "()" for scalar datasets.  Required if "data"
        isn't provided.
    dtype
        Numpy dtype or string.  If omitted, dtype('f') will be used.
        Required if "data" isn't provided; otherwise, overrides data
        array's dtype.
    data
        Provide data to initialize the dataset.  If used, you can omit
        shape and dtype arguments.

    Keyword-only arguments:

    chunks
        (Tuple) Chunk shape, or True to enable auto-chunking.
    maxshape
        (Tuple) Make the dataset resizable up to this shape.  Use None for
        axes you want to be unlimited.
    compression
        (String or int) Compression strategy.  Legal values are 'gzip',
        'szip', 'lzf'.  If an integer in range(10), this indicates gzip
        compression level. Otherwise, an integer indicates the number of a
        dynamically loaded compression filter.
    compression_opts
        Compression settings.  This is an integer for gzip, 2-tuple for
        szip, etc. If specifying a dynamically loaded compression filter
        number, this must be a tuple of values.
    scaleoffset
        (Integer) Enable scale/offset filter for (usually) lossy
        compression of integer or floating-point data. For integer
        data, the value of scaleoffset is the number of bits to
        retain (pass 0 to let HDF5 determine the minimum number of
        bits necessary for lossless compression). For floating point
        data, scaleoffset is the number of digits after the decimal
        place to retain; stored values thus have absolute error
        less than 0.5*10**(-scaleoffset).
    shuffle
        (T/F) Enable shuffle filter.
    fletcher32
        (T/F) Enable fletcher32 error detection. Not permitted in
        conjunction with the scale/offset filter.
    fillvalue
        (Scalar) Use this value for uninitialized parts of the dataset.
    track_times
        (T/F) Enable dataset creation timestamps.

In [42]:
with h5py.File('data.h5', 'r') as h5:
    _data = h5.get('nparray')
    print(_data)
    arr = np.array(_data)
    print(arr)

<HDF5 dataset "nparray": shape (10000000,), type "<i8">
[      0       1       2 ..., 9999997 9999998 9999999]

In [43]:
with h5py.File('data.h5', 'r') as h5:
    print(h5.items())

ItemsViewHDF5(<HDF5 file "data.h5" (mode r)>)

In [46]:
with h5py.File('data.h5', 'w') as h5:
    grp = h5.create_group('dataitems')
    grp.create_dataset('item1', data=np.arange(0, 1999999))
    
    sgrp = h5.create_group('dataitems/images')
    sgrp.create_dataset('image1', data=np.arange(0, 886888))

In [48]:
with h5py.File('data.h5', 'r') as h5:
    print(h5.items())
    print(h5.get('dataitems'))
    print(h5.get('dataitems').get('item1'))
    print(h5.get('dataitems/item1'))

ItemsViewHDF5(<HDF5 file "data.h5" (mode r)>)
<HDF5 group "/dataitems" (2 members)>
<HDF5 dataset "item1": shape (1999999,), type "<i8">
<HDF5 dataset "item1": shape (1999999,), type "<i8">